<footer>
  <h4>Desenvolvido por Pedro Braghin</h4>
  <div>
    <a href="https://www.linkedin.com/in/pedrobraghin" target="_blank">
      <i class="lni lni-linkedin-original"></i>
    </a>
    <a href="https://www.github.com/pedrobraghin" target="_blank">
      <i class="lni lni-github-original"></i>
    </a>
  </div>
</footer>
