<div class="main-menu">
  <button id="scroll-left-category-button">
    <i class="lni lni-chevron-left"></i>
  </button>
  <ul id="categories-container"></ul>
  <button id="scroll-right-category-button">
    <i class="lni lni-chevron-right"></i>
  </button>
</div>
